@import './styles/variables';
@import './styles/global';

// App specific styles
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  padding: $spacing-8 0;
  background-color: $secondary-gray;
  
  // Clase para cuando se agregue una textura en el futuro
  &.with-texture {
    // background-image: url('/assets/texture-light.png');
    background-size: 200px;
    background-repeat: repeat;
  }
}

// Animation keyframes
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Page transitions
.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity $transition-speed-normal ease-in;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity $transition-speed-normal ease-out;
}
